<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="Laura" content="Calendario">
        <title>Horario universidad</title>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            th, td {
                border: 1px solid #0f0505;
                text-align: center;
                padding: 10px;
            }
            th {
                background-color: #ad4e4e;
            }
        </style>
    </head>
    <body>
        <H1>Horario</H1>
        <table>
            <caption>Horario semanal universidad</caption>
                <tr>
                    <th>Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </tr>
                <tr>
                    <td>7:00 AM</td>
                    <td>Modeling of dynamical systems</td>
                    <td></td>
                    <td>Modeling of dynamical systems</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>08:00 AM</td>
                    <td>Modeling of dynamical systems</td>
                    <td></td>
                    <td>Modeling of dynamical systems</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>09:00 AM</td>
                    <td>Modeling of dynamical systems</td>
                    <td>Topologia</td>
                    <td></td>
                    <td>Topologia</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:00 AM</td>
                    <td></td>
                    <td>Topologia</td>
                    <td></td>
                    <td>Topologia</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11:00 AM</td>
                    <td></td>
                    <td>Introducción a la criptografia</td>
                    <td>Desarrollo web</td>
                    <td>Introducción a la criptografia</td>
                    <td>Desarrollo web</td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td></td>
                    <td>Introducción a la criptografia</td>
                    <td>Desarrollo web</td>
                    <td>Introducción a la criptografia</td>
                    <td>Desarrollo web</td>
                </tr>
                <tr>
                    <td>01:00 PM</td>
                    <td>Algebra abstracta y codificación</td>
                    <td></td>
                    <td>Algebra abstracta y codificación</td>
                    <td></td>
                    <td>Seminario de grado</td>
                </tr>
                <tr>
                    <td>02:00 PM</td>
                    <td>Algebra abstracta y codificación</td>
                    <td></td>
                    <td>Algebra abstracta y codificación</td>
                    <td></td>
                    <td>Seminario de grado</td>
                </tr>
                <tr>
                    <td>03:00 PM</td>
                    <td></td>
                    <td>Analisis forense y gestion de incidentes</td>
                    <td></td>
                    <td>Analisis forense y gestion de incidentes</td>
                    <td></td>
                </tr>
                <tr>
                    <td>04:00 PM</td>
                    <td>Hacking ético</td>
                    <td>Analisis forense y gestion de incidentes</td>
                    <td>Hacking ético</td>
                    <td>Analisis forense y gestion de incidentes</td>
                    <td></td>
                </tr>
                <tr>
                    <td>05:00 PM</td>
                    <td>Hacking ético</td>
                    <td></td>
                    <td>Hacking ético</td>
                    <td></td>
                    <td></td>
                </tr>
        </table>

        <a href="pagina1.html">Página 1</a>
    </body>
</html>