<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="Laura" content="Crochet">
        <title>Puntos crochet</title>
    </head>

    <body>
        <h1>Algunos puntos en crochet</h1>
        <p>Con crochet se pueden realizar diferentes trabajos con diferentes diseños.</p>
        <p>Esto dependerá del grosor de la aguja, pero además también del punto que se esté tejiendo.</p>
        <p>Los siguientes son algunos de los puntos que existen y los más básicos:</p>
        <h2>Punto bajo</h2>
        <p>Para este punto se inserta la aguja por un punto, se engancha lana en la aguja y se expulsa por el mismo agujero por el que entró. <br>
            Así quedan dos aros en la aguja, después se engancha lana una vez más y después se expulsa esta por los dos ganchos de la aguja.
        </p>
        <img src="../assets/img/pbajo.jpg" width="525" height="350">
        <h2>Punto medio alto</h2>
        <p>Para este punto se hace algo similar que para el punto bajo. La difrencia está en que antes de ingresar la aguja por el primer punto, se envuelve lana en la aguja. <br>
            Así cuando se expulse la aguja del punto quedarán tres aros. Se enrolla lana en la aguja y se expulsa por los tres aros.
        </p>
        <img src="../assets/img/pmalto.jpg" width="525" height="350">
        <h2>Punto alto</h2>
        <p>Este punto es como el medio alto, pero cuando se tienen los tres aros en la lana no se expulsa por los tres sino que se va sacando la lana por partes, de a dos aros.</p>
        <img src="../assets/img/palto.jpg" width="525" height="350">
        <h2>Punto deslizado</h2>
        <p>En este punto solo se ingresa la aguja por el punto, se enrolla lana y se saca tanto por el punto en el que ingresó como en el aro que estaba inicialmente en la aguja.</p>
        <img src="../assets/img/pdeslizado.png" width="640" height="320">
        <h2></h2>
        <p>Así, también hay diferentes maneras de introducir la aguja, como:</p>
        <ul>
            <li>Back loop only</li>
            <li>Front loop only</li>
        </ul>
    </body>
</html>