<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="Laura Salazar" content="Quiz en el que vamos a hacer una tabla para stop y jugar en el">
        <title>Quiz</title>
        <link rel="" href="../assets/img/bx-edit.svg">
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            td {
                border: 2px solid #000000;
                text-align: center;
                padding: 10px;
            }
            th {
                border: 3px solid #000000;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Quiz</h1>
        <table>
            <tr>
                <th>L</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cosa</th>
                <th>Color</th>
                <th>Lugar</th>
                <th>Atributo HTML</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>V</td>
                <td>Valeria</td>
                <td>Vasquez</td>
                <td><img src="../assets/img/velo.jpg" width="75" height="75"></td>
                <td style="background-color: rgb(75, 14, 14);"></td>
                <td>venecia</td>
                <td><em><u>var</u></em></td>
                <td><strong>1</strong></td>
            </tr>
            <tr>
                <td>D</td>
                <td>Dialis</td>
                <td>Duran</td>
                <td><img src="../assets/img/dolar.jpg" width="160" height="75"></td>
                <td style="background-color: #efb810;"></td>
                <td>dinamarca</td>
                <td><em><u>dl</u></em></td>
                <td><strong>1</strong></td>
            </tr>
            <tr>
                <td>U</td>
                <td>Ulises</td>
                <td>Ureña</td>
                <td><img src="../assets/img/unicornio.jpg" width="75" height="75"></td>
                <td style="background-color: #643594;"></td>
                <td>uganda</td>
                <td><em><u>ul</u></em></td>
                <td><strong>1</strong></td>
            </tr>
            <tr>
                <td>X</td>
                <td>Xavier</td>
                <td>Xiong</td>
                <td><img src="../assets/img/xilofono.jpg" width="75" height="75"></td>
                <td style="background-color: #75876e;"></td>
                <td>xochitepec</td>
                <td><em><u>xml</u></em></td>
                <td><strong>0</strong></td>
            </tr>
            <tr>
                <td>R</td>
                <td>Raquel</td>
                <td>Roldan</td>
                <td><img src="../assets/img/rio.jpg" width="140" height="75"></td>
                <td style="background-color: #c93384;"></td>
                <td>rumania</td>
                <td><em><u>rb</u></em></td>
                <td><strong>1</strong></td>
            </tr>
        </table>
    </body>
</html>
