<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="Laura" content="Intro HTML">
<title>Ejercicios básicos de HTML</title> <!--comentario :D (ctrl + })-->
<link rel="" href="../assets/img/bxl-graphql.svg">
</head>
<body>
<h1>Hello World</h1>
<h2>Hello World</h2>
<h3>Hello World</h3>
<h4>Hello World</h4>
<h5>Hello World</h5>
<h6>Hello World</h6>
<p>Lorem, <em>ipsum</em> dolor sit amet <strong>consectetur</strong> adipisicing elit.<br> Dolores nihil, unde ea accusamus dolor, repellendus corporis facere aperiam odit <u>consequatur</u> voluptatum suscipit modi dolorum perferendis aspernatur quisquam eveniet corrupti deleniti.</p>
<p>Lorem ipsum dolor sit <sub>amet</sub> consectetur adipisicing elit. Molestias, quia tempora dolorem cumque temporibus quisquam ut earum <sup>assumenda</sup> perferendis perspiciatis cum commodi aperiam rerum impedit, similique facere ullam in aut.</p>
<img src="../assets/img/img1.jpg" width="400" height="600"> 
<ol start="10" type="I">
    <li>Indice</li>
    <li>Introducción</li>
    <li>Justificación</li>
</ol>
<ul>
    <li>Indice</li>
    <li>Introducción</li>
    <li>Justificación</li>
</ul>
</body>
</html>